.header {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: rgb(32, 92, 145);
    justify-content: center;
    width: 100%;
}

.menu-item {
    position: relative;
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    


}


.menu-title {
    cursor: pointer;
    padding: 5px 10px;

}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    margin-right: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 5px 10px;
    min-width: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.submenu a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.submenu a:hover {
    background: #f0f0f0;
}

.menu-item:hover .submenu {
    display: block;
}

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 70vh;
    width: 100%;

}
